@using ToGoodToGo.Core.Models.Domains

@model ToGoodToGo.Core.ViewModels.FoodPackagesViewModel
@{
    //var user = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Paczki z żywnością dostępne w Twojej okolicy";
}
<div class="container-fluid bg-primary py-1 mb-4 mt-2">
    <div class="container py-1">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h2 class="display-6 text-white">Paczki żywnością.</h2>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-secondary py-1 mb-0 mt-0">
    <div class="container py-1">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h3 class="display-12 text-white">Lista aktualnie dostępnych w okolicy paczek z żywnością.</h3>
            </div>
        </div>
    </div>
</div>

<div class="mb-6">
    @await Html.PartialAsync("_FoodPackagesTable.cshtml", Model.FoodPackages)
</div>