@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 bg-hero mb-5">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-white mb-md-4">O Nas</h1>
                
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- About Start -->
<div class="container-fluid about pt-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="d-flex h-100 border border-5 border-primary border-bottom-0 pt-4">
                    <img class="img-fluid mt-auto mx-auto" src="../images/about.png">
                </div>
            </div>
            <div class="col-lg-6 pb-5">
                <div class="mb-3 pb-2">
                    <h6 class="text-primary text-uppercase">O Nas</h6>
                    <h1 class="display-5">Ratuj dobre jedzenie przed zmarnowaniem</h1>
                </div>
                <p class="mb-4">Too Good To Go to firma wpływu społecznego, której misją jest inspirowanie do wspólnej walki z marnowaniem żywności.</p>
                <div class="row gx-5 gy-4">
                    <div class="col-sm-6">
                        <i class="fa fa-seedling display-1 text-secondary"></i>
                        <h4>100% Organic</h4>
                        <p class="mb-0">Nasza aplikacja to największy na świecie marketplace dla nadwyżek żywności. Pomagamy użytkownikom ratować dobrą żywność przed zmarnowaniem, oferując świetny stosunek jakości do ceny produktów z lokalnych sklepów, kawiarnii i restauracji.</p>
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-award display-1 text-secondary"></i>
                        <h4>Zdobywca wielu nagród</h4>
                        <p class="mb-0">Nasz pomysł na biznes odpowiedzialny społecznie został szeroko zauważony. Jesteśmy lauratami wielu nagród oraz wyróżnień.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Facts Start -->
<div class="container-fluid bg-primary facts py-5 mb-5">
    <div class="container py-5">
        <div class="row gx-5 gy-4">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-star fs-4 text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white">Doświadczenie</h5>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">10 lat</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-mug-hot fs-4 text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white">Restauracji</h5>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">1245</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-check fs-4 text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white">Kraje</h5>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">12</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-users fs-4 text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white">Klientów</h5>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">12345</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->
