@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid bg-footer bg-primary text-white mt-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-8 col-md-6">
                <div class="row gx-5">
                    <div class="col-lg-4 col-md-12 pt-5 mb-5">
                        <h4 class="text-white mb-4">Bądźmy w kontakcie</h4>
                        <div class="d-flex mb-2">
                            <i class="bi bi-geo-alt text-white me-2"></i>
                            <p class="text-white mb-0">
                                Landskronagade 66, 2100 Copenhagen, Denmark
                            </p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-envelope-open text-white me-2"></i>
                            <p class="text-white mb-0">info@toogoodtogo.pl</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-telephone text-white me-2"></i>
                            <p class="text-white mb-0">+48 785 938 530</p>
                        </div>
                        <div class="d-flex mt-4">
                            <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-secondary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                        <h4 class="text-white mb-4">Szybkie linki</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="/Home/Index"><i class="bi bi-arrow-right text-white me-2"></i>Strona Główna</a>
                            <a class="text-white mb-2" href="/Home/AboutUs"><i class="bi bi-arrow-right text-white me-2"></i>O nas</a>
                            <a class="text-white mb-2" href="/Home/Contact"><i class="bi bi-arrow-right text-white me-2"></i>Kontakt</a>
                            <a class="text-white mb-2" href="/Home/Privacy"><i class="bi bi-arrow-right text-white me-2"></i>Polityka Prywatności</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                        <h4 class="text-white mb-4">Popularne linki</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="/Home/Index"><i class="bi bi-arrow-right text-white me-2"></i>Strona Główna</a>
                            <a class="text-white mb-2" href="/Home/AboutUs"><i class="bi bi-arrow-right text-white me-2"></i>O nas</a>
                            <a class="text-white mb-2" href="/Home/Contact"><i class="bi bi-arrow-right text-white me-2"></i>Kontakt</a>
                            <a class="text-white mb-2" href="/Home/Privacy"><i class="bi bi-arrow-right text-white me-2"></i>Polityka Prywatności</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-n5">
                <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-secondary p-5">
                    <h4 class="text-white">Newsletter</h4>
                    <h6 class="text-white">Zasubskrybuj nasz Newsletter</h6>
                    <p>Bądź na bieżąco z najnowszymi ofertami</p>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control border-white p-3" placeholder="Twój Email">
                            <button class="btn btn-primary">Zapisz się</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer End -->

