@using Microsoft.AspNetCore.Identity
@using ToGoodToGo.Core.Models.Domains

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User); 
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("Klient"))
{   
    <h1> Witaj Kliencie </h1>
}
else
{
    <h1> Witaj Restauracjo! @user.RestaurantName</h1>
}


