@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container-fluid bg-footer bg-primary text-white mt-0">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-12 col-md-6">
                <div class="row gx-5">
                    <div class="col-lg-12 col-md-12 pt-5 mb-5">
                        <h1 class="text-white mb-4">Polityka prywatności</h1>
                        
                        <p>
                                <h3 class="text-white">1. WPROWADZENIE</h3>
                                </p>
                            <p>
                                Misją Too Good To Go („TGTG”) jest ograniczenie marnowania żywności. Robimy to poprzez łączenie Użytkowników naszej Aplikacji ze Sklepami, które mają nadwyżki żywności.</p>
                                <p>
                                Niniejsza polityka prywatności („Polityka”) wyjaśnia, w jaki sposób przetwarzamy Dane Osobowe naszych Użytkowników, Partnerów i innych osób, z którymi podejmujemy współpracę w ramach naszej działalności i świadczonych Usług.
                                </p>
                                <p>
                            <h3 class="text-white">2. O NINIEJSZEJ POLITYCE</h3>
                                </p>
                                <p>
                                Niniejsza Polityka, która obejmuje naszą Politykę dotyczącą plików cookie (w odpowiednim zakresie, której kopię można znaleźć na naszych Platformach lub za pośrednictwem linków zawartych w punkcie 3 poniżej), ma na celu pomóc Użytkownikowi zrozumieć nasze praktyki gromadzenia informacji w zależności od relacji z nami.
                        </p><p>
                                Politykę należy czytać wraz z wszelkimi innymi obowiązującymi zasadami, warunkami i postanowieniami obowiązującymi między Użytkownikiem a nami.
                        
                                odpowiednimi obowiązującymi przepisami ustawowymi i wykonawczymi w kraju lub jurysdykcji, która ma zastosowanie do Danych Osobowych Użytkownika.
                        </p>
                        <p>
                                W przypadku Użytkownika Platformy znajdującego się na obszarze EOG, Szwajcarii lub Wielkiej Brytanii, głównym administratorem Danych Osobowych Użytkownika jest Too Good To Go ApS, nr rej. spółki. 37561304, Landskronagade 66, 2100 Kopenhaga, Dania.
                        </p><p>
                                W przypadku użytkownika niebędącego Użytkownikiem Platformy głównym administratorem jego Danych Osobowych będzie Podmiot TGTG, który był pierwotnie odpowiedzialny za gromadzenie jego Danych Osobowych w danym kraju lub jurysdykcji. W przypadku naszych Sklepów Partnerskich będzie to lokalny podmiot TGTG, z którym Użytkownik zawiera umowę.
                        </p><p>
                                Użytkownicy będący mieszkańcami Kanady powinni zapoznać się z punktem zatytułowanym Canada Privacy Rights.
                        </p><p>
                                Użytkownicy będący mieszkańcami Kalifornii, Wirginii, Kolorado, Connecticut lub niektórych innych stanów amerykańskich, w których obowiązują porównywalne przepisy dotyczące prywatności powinni zapoznać się z punktami zatytułowanymi California Privacy Rights oraz Virginia/Colorado/Connecticut and Similar U.S. State Privacy Rights w celu uzyskania szczegółowych informacji dotyczących gromadzenia, wykorzystywania i ujawniania przez nas danych Użytkownika oraz dodatkowych praw przysługujących mu na mocy obowiązujących przepisów prawa amerykańskiego. Użytkownicy będący mieszkańcami stanu Nevada mają prawo zrezygnować ze sprzedaży określonych danych osobowych, które zebraliśmy (lub które możemy zebrać) od Użytkownika, na rzecz brokerom danych lub innym stronom trzecim. Użytkownik może skorzystać z tego prawa, wysyłając do nas wiadomość e-mail na adres privacy@toogoodtogo.com z tematem „Nevada Do Not Sell Request”.
                        </p><p>
                                Jeśli Użytkownik uzyskuje dostęp do naszej Platformy z USA, podmiotem TGTG odpowiedzialnym za gromadzenie jego Danych Osobowych jest:
                        </p><p>
                            Too Good To Go Inc.</br></br>

                            c/o United Corporate Services, Inc.</br></br>

                            874 Walker Road, Suite C</br></br>

                            Hrabstwo Kent, Delaware 19904</br></br>

                            Nr rej. 7779365</br></br>

                            DOSTĘPNOŚĆ - W PRZYPADKU PROBLEMÓW Z DOSTĘPEM DO NINIEJSZEJ POLITYKI, PROSIMY O WYSŁANIE WIADOMOŚCI E-MAIL NA ADRES PRIVACY@TOOGOODTOGO.COM LUB O KONTAKT POD BEZPŁATNYM NUMEREM 1-866-467-8688, KOD 1898, 24 GODZINY NA DOBĘ, 7 DNI W TYGODNIU (TYLKO USA).</br></br>
                        </p>
                                                  </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Footer End -->